@use "utilities" as *;
    
.contenedor {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: $c-fondo-items;
    @include desde('tablet') {
        flex-direction: row;
        padding: 2rem;
    }
    @include desde('desktop') {
        max-width: 1200px;
        margin: 0 auto;
    }
}
