/* --- Colores --- */
$c-fondo: #68150A;
$c-fondo-items: #0B78B3;
$c-texto: #F9ECE5;
$c-boton1: #D73220;
$c-boton2: #1F0062;
/* --- Tipografía --- */
$f-titulo: "Montserrat", sans-serif;
$f-textos: "Nunito", sans-serif;

@mixin button ($bg-color, $txt-color, $border, $padding, $ft-sz, $ft-wt, $b-radius, $cursor, $width, $trans){
    background-color: $bg-color;
    color: $txt-color;
    border: $border;
    padding: $padding;
    font-size: $ft-sz;
    font-weight: $ft-wt;
    border-radius: $b-radius;
    cursor: $cursor;
    width: $width;
    transition: $trans;
}